In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/spaceship-titanic/sample_submission.csv
/kaggle/input/spaceship-titanic/train.csv
/kaggle/input/spaceship-titanic/test.csv

In [2]:
data = pd.read_csv("/kaggle/input/spaceship-titanic/train.csv")

In [3]:
data.head(10)

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True
5,0005_01,Earth,False,F/0/P,PSO J318.5-22,44.0,False,0.0,483.0,0.0,291.0,0.0,Sandie Hinetthews,True
6,0006_01,Earth,False,F/2/S,TRAPPIST-1e,26.0,False,42.0,1539.0,3.0,0.0,0.0,Billex Jacostaffey,True
7,0006_02,Earth,True,G/0/S,TRAPPIST-1e,28.0,False,0.0,0.0,0.0,0.0,NaN,Candra Jacostaffey,True
8,0007_01,Earth,False,F/3/S,TRAPPIST-1e,35.0,False,0.0,785.0,17.0,216.0,0.0,Andona Beston,True
9,0008_01,Europa,True,B/1/P,55 Cancri e,14.0,False,0.0,0.0,0.0,0.0,0.0,Erraiam Flatic,True

In [4]:
data.shape

(8693, 14)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   8693 non-null   object
 1   HomePlanet    8492 non-null   object
 2   CryoSleep     8476 non-null   object
 3   Cabin         8494 non-null   object
 4   Destination   8511 non-null   object
 5   Age           8514 non-null   float64
 6   VIP           8490 non-null   object
 7   RoomService   8512 non-null   float64
 8   FoodCourt     8510 non-null   float64
 9   ShoppingMall  8485 non-null   float64
 10  Spa           8510 non-null   float64
 11  VRDeck        8505 non-null   float64
 12  Name          8493 non-null   object
 13  Transported   8693 non-null   bool
dtypes: bool(1), float64(6), object(7)
memory usage: 891.5+ KB

In [6]:
data['CryoS'] = data.CryoSleep==True
data['CryoS'].head(10)

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7     True
8    False
9     True
Name: CryoS, dtype: bool

In [7]:
data['CryoS'] = data['CryoS'].apply(lambda x : 1 if x is True else 0)
data['CryoS'].head(10)

0    0
1    0
2    0
3    0
4    0
5    0
6    0
7    1
8    0
9    1
Name: CryoS, dtype: int64

In [8]:
data['vip'] = data.VIP==True
data['vip'] = data['vip'].apply(lambda x : 1 if x is True else 0)

In [9]:
list = data.select_dtypes('object').columns.tolist()
list

['PassengerId',
 'HomePlanet',
 'CryoSleep',
 'Cabin',
 'Destination',
 'VIP',
 'Name']

In [10]:
data = data.dropna(subset = list)
data = data.dropna(subset = ['Transported'])

In [11]:
data.shape

(7559, 16)

In [12]:
data.columns

Index(['PassengerId', 'HomePlanet', 'CryoSleep', 'Cabin', 'Destination', 'Age',
       'VIP', 'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck',
       'Name', 'Transported', 'CryoS', 'vip'],
      dtype='object')

In [15]:
data = data[['PassengerId', 'HomePlanet','Cabin', 'Destination', 'Age',
      'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck',
       'Name', 'Transported', 'CryoS', 'vip']]

In [19]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7559 entries, 0 to 8692
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   7559 non-null   object
 1   HomePlanet    7559 non-null   object
 2   Cabin         7559 non-null   object
 3   Destination   7559 non-null   object
 4   Age           7398 non-null   float64
 5   RoomService   7398 non-null   float64
 6   FoodCourt     7400 non-null   float64
 7   ShoppingMall  7378 non-null   float64
 8   Spa           7395 non-null   float64
 9   VRDeck        7389 non-null   float64
 10  Name          7559 non-null   object
 11  Transported   7559 non-null   bool
 12  CryoS         7559 non-null   int64
 13  vip           7559 non-null   int64
dtypes: bool(1), float64(6), int64(2), object(5)
memory usage: 834.1+ KB

In [21]:
numerical_cols = data.select_dtypes(include = np.number).columns.tolist()
numerical_cols

['Age',
 'RoomService',
 'FoodCourt',
 'ShoppingMall',
 'Spa',
 'VRDeck',
 'CryoS',
 'vip']

In [23]:
categorical_cols = data.select_dtypes('object').columns.tolist()
categorical_cols

['PassengerId', 'HomePlanet', 'Cabin', 'Destination', 'Name']

In [26]:
from sklearn.impute import SimpleImputer

In [ ]:
imputer = SimpleImputer()

In [24]:
Y = data['Transported'].apply(lambda x : 1 if x is True else 0)

# # pandas profiling try karna hai

0    0
1    1
2    0
3    0
4    1
Name: Transported, dtype: int64